html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #fbfdfb;
    text-align: center;
}

h1{
    text-shadow: 2px 2px 5px rgb(194, 235, 203);
    color: hotpink;
}
header {
    background-color: #3fa272;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

nav {
    background-color: #2f7a54;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
}

nav a:hover {
    background-color: #4fc28b;
    border-radius: 8px;
}

section {
    max-width: 1000px;
    margin: 2 rem auto;
    width: 200px;
    height: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

section h2 {
    color: #3fa272;
    margin-bottom: 1rem;
}

section img {
    width: 300px;
    max-width: 600px;
    display: block;
    margin: 1rem auto;
    border-radius: 8px;
}

#img_elefante {
    width: 600px;
    height: 600px;
    clip-path: circle(50%);
}

ul {
    list-style: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #e3f8ee;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.galeria img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

input,
textarea {
    padding: 0.7rem;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button {
    background-color: #3fa272;
    color: white;
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2f7a54;
}

footer {
    background-color: #2f7a54;
    color: white;
    text-align: center;
    padding: 1rem;
}

a:link {
  color: #FF0000;
}


a:visited {
  color: #00FF00;
}

a:hover {
  color: #FF00FF;
}


a:active {
  color: #0000FF;
}
